page-player {
	video{
		width: 100%;
		height: 100%;
	}

	video::-webkit-media-controls-fullscreen-button
	{
		display: none !important;
	}

	#player-topbar{
		position: absolute;
		top: 0;
		width: 100%;
		padding: 15px;

		.left{
			float: left;
		}
		.right{
			float: right;
		}
	}
}
