<ion-content>
	<video id="main"><source type="video/mp4"></video>
	<video id="option0"><source type="video/mp4"></video>
	<video id="option1"><source type="video/mp4"></video>


	<div id="player-topbar">
		<div class="left">
			<button ion-button round>Voltar</button>
		</div>
		<div class="right">
			<button ion-button round *ngIf="!isPlaying" (tap)="play()">Play</button>
			<button ion-button round *ngIf="isPlaying" (tap)="pause()">Pause</button>
		</div>
	</div>
	<div class="player-options" [class.isShowing]="isShowingOptions">
		<ion-grid>
		  <ion-row>
		    <ion-col col-6>
		     <button color="dark" ion-button round block outline id="btnOption0" (tap)="goto(1)">Opção 1</button>
		    </ion-col>
		    <ion-col col-6>
		     <button color="dark" ion-button round block outline id="btnOption1" (tap)="goto(2)">Opção 2</button>
		 </ion-col>
		  </ion-row>
		</ion-grid>
	</div>
</ion-content>